*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // font-size: 62.5%;
  font-size: 100%;
}

body {
  box-sizing: border-box;
  background-color: $color-secondary-dark !important;
}

.main-container {
  padding: 0;
  width: 100%;
  height: 100vh;
}

.primary-button {
  padding: 0.5rem 1rem;
}
