$color-primary: #daa520;
$color-primary-light: #ffd700;
$color-primary-dark: #9e781a;

$color-secondary: #0a58ca;
$color-secondary-light: #0d6efd;
$color-secondary-dark: #1f1f20;
$color-secondary-dark-2: #26262b;

$color-tertiary-light: #b4a7d6;
$color-tertiary-dark: #8e7cc3;

$color-black: #000000;
$color-white: #ffffff;

$default-font-size: 1rem;
$default-font-size-small: 1.5rem;
$default-font-size-medium: 2rem;
$default-font-size-large: 3rem;
$default-font-size-jumbo: 4rem;

$particles: 100;
$particleSize: 3.5px;
$radius: 65;
$lapDuration: 1.2s;
